.markdown-body * {
  margin: 8px 0;
  letter-spacing: 0.05em;
  line-height: 180%
}

.markdown-body table,
.markdown-body tr,
.markdown-body td,
.markdown-body th {
  border: 1px solid #555;
  padding: 10px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 100%;
}

.markdown-body h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.markdown-body h2 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.markdown-body h3 {
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

.markdown-body h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.markdown-body h5 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.markdown-body h6 {
  font-size: 1rem;
  margin: 1.5rem 0;
}

.markdown-body p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.markdown-body ul {
  margin: 1.5rem 0;
}

.markdown-body ol {
  margin: 1.5rem 0;
}

.markdown-body li {
  margin: 0.5rem 0;
  list-style: square;
}

.markdown-body blockquote {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid #555;
}

.markdown-body pre {
  margin: 1.5rem 0;
  padding: 1rem;
  background: #555;
  color: #fff;
  border-radius: 0.5rem;
  overflow: scroll;
}

.markdown-body code {
  background: #555;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.markdown-body a {
  color: #000;
  text-decoration: underline;
}

.markdown-body img {
  max-width: 100%;
}